h1 {
    font-size: 3em;
    margin: 0.25em 0 1em 0;
}

.content-container {
    max-width: 57.5em;
    margin: 0 auto;
    text-align: left;
    padding: 1em;
}

.content-container h1 {
    text-align: center;
}

.content-container center {
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img.intext {
    display: inline;
    height: 1em;
}

img.roles {
    display: inline;
    height: 2em;
}

img.button_img {
    display: inline;
    height: 2em;
    width: auto;
    vertical-align: middle;
}

img#bottom_bar {
    width: 100%;
    height: auto;
}

img.top_img {
    height: 5em;
    margin-top: 0.5em;
}

img#research_img {
    height: 9em;
    margin-top: 0.5em;
}

/* Dark mode (default) */
body {
    color: #FFFFFF;
    background-image: url('images/blackbg.gif');
    font-size: 1.2em;
}


a:link {
    text-decoration: none;
    color: #00FF00;
}

a:visited {
    text-decoration: none;
    color: #00ff00a6;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

img#theme_img {
    content: url('images/moon.gif');
}

img#welcome_img {
    content: url('images/welcome_dark.gif');
}

img#bottom_bar {
    content: url('images/arrowbar.gif');
}


button.top_button {
    padding: 0.2em;
    padding-right: 0.75em;
    font-size: 0.8em;
    color: #fff;
    background: #000;
    border: 0.15em solid #fff;
    cursor: pointer;
}


/* Light mode */
body.light-mode {
    color: #000000;
    background-image: url('images/rainbow.jpg');
    font-size: 1.2em;
}


body.light-mode a:link {
    text-decoration: none;
    color: #0000FF;
}

body.light-mode a:visited {
    text-decoration: none;
    color: #800080
}

body.light-mode a:hover {
    text-decoration: underline;
}

body.light-mode a:active {
    text-decoration: underline;
}

body.light-mode img#theme_img {
    content: url('images/sun.gif');
}

body.light-mode img#welcome_img {
    content: url('images/welcome_light.gif');
}

body.light-mode img#bottom_bar {
    content: url('images/strobebar.gif');
}

body.light-mode button.top_button {
    padding: 0.2em;
    padding-right: 0.75em;
    font-size: 0.8em;
    color: #000000;
    background: #ffffff;
    border: 0.15em solid #000000;
    cursor: pointer;
}